{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="conatainer">
    <div class="row">
        <div class="col-6 p-3 ps-5">
            <form action="add_more_product" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea type="textarea" name="json_txt" rows="4" cols="50" style="height: 90vh;"></textarea>
                <input type="submit"/>
            </form>
        </div>
        <div class="col-6">
            <h1>Instructions:</h1>
            <p>Copy and paste Json text into the text box and click submit.</p><br/>
            <p>Items with a unique ID will be added to the database provided <br/> the Json is formatted in the standard Christian Book Json product file</p><br/>
            <p>Duplicate IDs will not be added to the database</p>
            <!-- <h4>Example:</h4> -->
            <!-- {<br/>
                &emsp;"records": [<br/>
                &emsp;&emsp;{<br/>
                &emsp;&emsp;&emsp;"title": "NKJV Evidence Bible, Hardcover",<br/>
                &emsp;&emsp;&emsp;"isbn13": "9780882705255",<br/>
                &emsp;&emsp;&emsp;"isbn": "0882705253",<br/>
                &emsp;&emsp;&emsp;"image": "https://g.christianbook.com/dg/product/cbd/b70/705255.gif",<br/>
                &emsp;&emsp;&emsp;"id": "705255",<br/>
                &emsp;&emsp;&emsp;"link": "https://www.christianbook.com/apps/product?item_no=705255",<br/>
                &emsp;&emsp;&emsp;"customer_rating": 4.87<br/>
                &emsp;&emsp;}<br/>
                &emsp;]<br/>
            } -->
        </div>
    </div>
    
</div>


{% endblock %}